.navbar{
  height: 50px;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(16, 16, 16);
  border-radius: 20px;
  background-color: black;
  border: 1px solid hsla(225,39%,30%,1);

}

.navButton:hover{
  color: rgb(253, 253, 253);
  background-color: rgb(5, 5, 5);
}